@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap');

:root {
    --black: #171718;
    --black-border: #26292d;
    --white: #fff;
    --purple: #5C62EC;

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
}

html, body {
    font-family: "DM Sans", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--white);
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    color: var(--header-text);
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.nav-list__link {
    color: var(--header-text);
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";

    position: absolute;
    left: 0;
    top: 100%;

    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

.header {
    padding: 40px 0;
    min-height: 695px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-bg);
    color: var(--header-text);
}

.header__title {
    font-size: 72px;
}

.header__text {
    font-size: 24px;
}

.description {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
    font-size: 20px;
}

.description .container {
    max-width: 800px;
    margin: 0 auto;
}

.description h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.search {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.search .container {
    display: flex;  
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.search input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 18px;
}

.search button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: var(--purple);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.search button:hover {
    background-color: #484bb5;
}

.menu {
    background-color: #f1f1f1;
    padding: 50px 0;
    text-align: center;
    font-size: 20px;
}

.menu .container {
    max-width: 1000px;
    margin: 0 auto;
}

.menu h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.menu-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #ffffff;
    padding: 30px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    border: 1px solid #ccc; 
    border-radius: 15px;
}

.menu-item img {
    width: 100%;
    height: auto;
}

.menu-item h3 {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
}

.menu-item p {
    color: #6c757d;
    text-align: center;
}